[submodule ".config/nvim/ftplugin/eclipse.jdt.ls"]
	path = .config/nvim/ftplugin/eclipse.jdt.ls
	url = git@github.com:eclipse-jdtls/eclipse.jdt.ls.git
[submodule ".config/nvim/ftplugin/java-debug"]
	path = .config/nvim/ftplugin/java-debug
	url = git@github.com:microsoft/java-debug
[submodule ".config/nvim/ftplugin/vscode-java-test"]
	path = .config/nvim/ftplugin/vscode-java-test
	url = git@github.com:microsoft/vscode-java-test
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".oh-my-zsh/custom/plugins/autoupdate"]
	path = .oh-my-zsh/custom/plugins/autoupdate
	url = git@github.com:TamCore/autoupdate-oh-my-zsh-plugins
[submodule ".oh-my-zsh/custom/plugins/fzf-tab"]
	path = .oh-my-zsh/custom/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-nvm"]
	path = .oh-my-zsh/custom/plugins/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
